

/* .resultsarchive-table tbody tr:nth-child(1) {
  background: rgba(255,215,0, 0.2) !important;
}

.resultsarchive-table tbody tr:nth-child(2) {
  background: rgba(192,192,192, 0.2) !important;
}

.resultsarchive-table tbody tr:nth-child(3) {
  background: rgba(205, 127, 50, 0.2) !important;
} */

/* table {
  width: 100%;
}

.resultsarchive-wrapper {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .2px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: #fff;
  margin-bottom: 40px;
}

.resultsarchive-content-header {    
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .2px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding: 35px 29px 10px;
    position: relative; 
}

.ResultsArchiveTitle {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .2px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-top: 0;
  text-transform: none;
  margin-bottom: 4.8rem;
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 1.142;
  color: #171717;
  width: 75%;
  font-family: "F1BoldRegular";
}


.table-wrap {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .2px;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 0 26px;
}

.resultsarchive-table {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .2px;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 25px 0;
}

.limiter {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .2px;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 18px 20px 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  color: gray;
  font-size: 1.1rem;
  display: none;
}


.resultsarchive-table .uppercase {
    text-transform: uppercase;
}
.resultsarchive-table .dark {
    color: #4a4a4a;
}
.resultsarchive-table .semi-bold {
    font-weight: 600;
}

.resultsarchive-table td {
  font-size: 13px;
  font-size: 1.3rem;
  text-align: left;
  padding: 18px 20px 14px;
  color: #171717;
}

.semi-bold {
  font-weight: 600;
}


.resultsarchive-table tr th {
  padding: 18px 20px 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  color: gray;
  font-size: 11px;
  font-size: 1.1rem;
}


.resultsarchive-table tbody tr:nth-child(odd) {
  background: #f4f4f4;
} */
/* .resultsarchive-wrapper {
  background: #fff0;
}

.bgfix {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: -2;
} */
